@import "./fonts.css";
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --color-background-base: #F3EFFB;
        --color-headline-base: #3A3A3A;
        --color-headline-secondary: #3F3F3F;
        --color-primary-base: #7B57E4;
        --color-neutral-light: #44364E;
          --font-Peyda: Peyda;
            --font-PeydaBlack: PeydaBlack;
            --font-PeydaBold: PeydaBold;
            --font-PeydaExtraLight: PeydaExtraLight;
            --font-PeydaLight: PeydaLight;
            --font-PeydaMedium: PeydaMedium;
            --font-PeydaSemiBold: PeydaSemiBold;
            --font-PeydaThin: PeydaThin;
            --font-PeydaExtraBold: PeydaExtraBold;

}


@layer base {
  input[type=range] {
      writing-mode: vertical-lr;
      direction: rtl;
      vertical-align: middle;

    }
}


